.add-new {
    // display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 2px;
    }
}

.customize-table {
    overflow-x: auto;
}

.pagination {
    justify-content: center;
}
